header{

}
h1{

}
nav{

}
ul{

}
li{

}
aside{

}
section{

}
.floats{

}
.floats button{

}
div aside{

}
div aside button{

}
footer{

}
small{
	
}
font-family: 'Merriweather', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

