header{

}
h1{

}
nav{

}
aside{

}
aside div{

}
section{

}
div aside{

}
footer{

}
font-family: 'Merriweather', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

